<main class="flex flex-col gap-y-4 min-h-[calc(100vh-5rem)]">
    <section>
        <h1 class="text-xl font-bold">Ready to learn {{selectedLanguage}}?</h1>
        <p>Select a scenario to start a conversation.</p>
    </section>

    <!-- Scenario selector -->
    @for (category of categories; track category.id) {
    <section class="border border-black/25 rounded p-4">
        <h2 class="text-lg font-bold mb-2">{{category.name}}</h2>
        <p class="text-sm opacity-50 mb-4">{{category.description}}</p>
        <section class="flex flex-wrap gap-2">
            @for (scenario of category.scenarios; track scenario.id) {
            <card class="flex-none hover:brightness-95" [routerLink]="['/chat']"
                [queryParams]="{ language: selectedLanguage, scenario: scenario.id }" [title]="scenario.title"
                [description]="scenario.description" [icon]="scenario.icon" iconSize="2xl"
                [iconClass]="scenario.iconClass"></card>
            }
        </section>
    </section>
    }
</main>