@if (routerLink) {
<a [routerLink]="routerLink" [queryParams]="queryParams"
    class="border w-90 h-32 bg-white border-black/10 shadow rounded p-2 flex flex-col gap-y-1 cursor-pointer">
    <fa-icon [icon]="icon" [size]="iconSize" [class]="iconClass" />
    <section>
        <h2 class="font-bold ">{{ title }}</h2>
        <p class="text-sm opacity-50">{{ description }}</p>
    </section>
</a>
} @else {
<section class="border w-90 h-36 bg-white border-black/10 shadow rounded p-2 flex flex-col gap-y-1">
    <fa-icon [icon]="icon" [size]="iconSize" [class]="iconClass" />
    <section>
        <h2 class="font-bold ">{{ title }}</h2>
        <p class="text-sm opacity-50">{{ description }}</p>
    </section>
</section>
}