<main class="flex flex-col min-h-[calc(100vh-5rem)]">
    <!-- Language selector -->
    <section class="border border-black/25 rounded flex-1 h-screen p-4">
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
            @for (language of languageCards; track language.title) {
            <card [routerLink]="['/chat']" [queryParams]="{ language: language.title }" [title]="language.title"
                [description]="language.description" [icon]="language.icon" iconSize="2xl"
                [iconClass]="language.iconClass"></card>
            }
        </div>
    </section>
</main>