<nav class="w-full flex items-center justify-between py-5">
    <a routerLink="/" class="text-xl font-bold flex items-center gap-x-1">
        <fa-icon [icon]="faMoneyBill" size="2xl" class="text-green-600" />
        Keep It Paid.
    </a>

    <!-- Landing Page Links -->
    @if(authService.currentUser() === null) {
    <ul class="flex items-center gap-x-8">
        <a href="/#about" class="anim-underline">Features</a>
        <a href="/#pricing" class="anim-underline">Pricing</a>
        <a href="/#faq" class="anim-underline">FAQ</a>
        <a href="/#about" class="anim-underline">About</a>
    </ul>
    }


    <ul class="flex items-center gap-x-3">
        <!-- Logged Out Links -->
        @if (authService.currentUser() === null) {
        <a routerLink="/login">Login</a>
        <a routerLink="/signup" class="px-3 py-1 bg-green-600 rounded text-white font-bold hover:brightness-90">Sign Up</a>
        }

        <!-- Logged In Links -->
        @if(authService.currentUser()) {
        <span>{{authService.currentUser()?.username}}</span>

        <span (click)="logout()" class="px-3 py-1 bg-green-600 rounded text-white font-bold cursor-pointer hover:brightness-90">Logout</span>
        }
    </ul>
</nav>