<main>
    <!-- Hero -->
    <section class="md:h-200 flex lg:flex-row gap-y-16 flex-col justify-around items-center">
        <!-- Text -->
        <section class="flex flex-col gap-y-4 max-w-xl">
            <p class="font-bold text-[64px]">
                Stop <span class="text-green-600 italic">Guessing.</span>
                <br>
                Start <span class="text-green-500 italic">Saving.</span>
            </p>

            <p class="text-wrap text-lg">KeepItPaid is the intelligent dashboard that tracks your subscriptions so you
                don't have to. Get ahead of surprise renewals, identify "vampire" bills, and master your monthly
                burn—all in one secure place.</p>

            <!-- CTA -->
            <section class="flex md:flex-row flex-col items-center gap-x-2">
                <a routerLink="/signup"
                    class="px-3 py-1 bg-green-600 rounded text-white font-bold hover:brightness-90 cursor-pointer">Sign
                    Up</a>
                <span class="opacity-50">No credit card required. Setup in 2 minutes.</span>
            </section>
        </section>

        <!-- Image -->
        <section class="md:w-lg w-full h-auto aspect-square bg-green-600 rounded-xl ">

        </section>
    </section>
</main>